@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300&display=swap');

:root{
    --main-bg-color: #000000;
    --sec-color: #f9f9f9;
    --third-color: #22D4FD;
    --hover-color: #272727;

    --primary-font: 'Krona One';
    --sercundary-font: 'Montserrat';
}
*{
    margin: 0;
    padding: 0;
}
body { 
    background-color: var(--main-bg-color);
    color: var(--sec-color);
    
    box-sizing: border-box;
}
.tituloDestaque{
    color: var(--third-color);
}

h1{
    font-size: 2.25rem;
    font-family: var(--primary-font);
}
p{
    font-size: 1.5rem;
    font-family: var(--sercundary-font);
}
header{
    padding: 2% 0% 0% 8%;
}
.cabecalho{
    display: flex;
    gap: 80px;
}
.headerLinks{
    font-family: var(--sercundary-font);
    text-decoration: none;
    color: var(--third-color);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 28px;

}
.containerHome{
    padding: 6% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
}
.subcontainerHome{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.botoesLinksSubtituloHome{
    font-family: var(--primary-font);
    font-weight: 400;
}
.botoesLinksContainerHome{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.botoesLinksHome{
    display: flex;
    border: 1px solid var(--third-color);
    background-color: var(--main-bg-color);
    padding: 21px 0;
    font-size: 1.5rem;
    border-radius: 8px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    font-family: var(--primary-font);
    color: var(--sec-color);
    justify-content: center;
    gap: 10px;
}
.botoesLinksHome:hover{
    background-color: var(--hover-color);
}
.apresentacaoImagem{
    width: 40%;
}
.rodape{
    background-color: var(--third-color);
    color: var(--main-bg-color);
    text-align: center;
    padding: 24px;
    font-family: var(--sercundary-font);
    font-size: 1.5rem;
}
.sobremin{
    font-size: 1.5rem;
    text-align: justify;
}
@media (max-width: 1200px) {
    header{
        padding: 10% 0% 5% 0%;
    }
    .cabecalho{
        justify-content: center;
    }

    .containerHome{
        flex-direction: column-reverse;
        padding: 5% 5%;
    }
    .subcontainerHome{
        width: auto;
    }
}